* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #fff8f3;

  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 74px 105px, 1070px 500px;
  
  
}
nav {
  width: 71%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}

ul {
  display: flex;
  gap: 51px;
  color: #474747;
  font-size: 20px;
  align-items: center;
}
ul li a {
  text-decoration: none;
}
.logo {
  font-weight: bold;
  font-size: 45px;
}
#r {
  color: #fd6e0a;
}
.btn {
  
  height: 65px;
  width: 151px;
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

   /*  */
.text-container h1 {
  font-weight: bold;
  font-size: 85px;
}
.text-container p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 20px 0px;
}
.text-container .btn {
  
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin-right : 10px;
}
.text-container{
  margin-left: 80px;
}

#banner {
  margin: 0px 0px 0px 300px;
  width: 80%;
  height: 676px;
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
}

#about {
  padding: 130px 0;
  display: flex;
  justify-content: center;
}
.about-con {
  background-color: #fff8f3;
  text-align: center;
  border-radius: 10px;
  max-width: 1140px;
  padding: 131px 157px 131px 156px;
  margin: 0 auto;
}
.about-con h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about-con p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.cards p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 0px;
}
.cards h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.deeds {
  padding: 0px 716px 10px 717px;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  text-align: center;
}
.deedss {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  text-align: center;
  padding: 30px 10% 50px 10%;
  margin: 0;
  
}
.cg {
  display: flex;
  gap: 24px;
  padding: 50px 0 130px 0;
  justify-content: center;

}


.cp {
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.196);
  height: 377px;
  width: 267px;
  border-radius: 5px;
  padding: 30px 33px 30px 30px
 
}
.cp:hover{
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
   cursor: pointer ;
}


.cg .cp h4 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
 margin-top: 20px;
}
#skills {
  background-color:#fff8f3;
}
#skill .cg{
  width: 71%;
  max-width: 1140px;
}


/* Resume Section */
#resume{
  width: 71%;
  max-width: 1140px;
  justify-content: center;
  margin: 0 auto;
}
.edex{
  display: flex;
  /* justify-content: space-around; */
  gap: 24px;
}
#resume h2{
  text-align: center;
  margin-bottom: 113px;
  font-weight: bold;
  font-size: 35px;
  margin-top: 130px;
}
.ed h3{
  font-weight: bold;
  font-size: 30px;
  color: #2e3f49;
  margin-bottom: 30px;

}
.ed-card h4{
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.ed-card h5{
  font-weight: 600  ;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.ed-card p{
  color: #757575;
  margin-bottom: 30px;
  line-height: 28px;
  font-size: 16px;

}

.ex h3{
  font-weight: bold;
  font-size: 30px;
  color: #2e3f49;
  margin-bottom: 30px;

}
.ex-card h4{
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.ex-card h5{
  font-weight: 600  ;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.ex-card p{
  color: #757575;
  margin-bottom: 30px;
  line-height: 28px;
  font-size: 16px;

}
hr{
  color: #D1D1D1;
  margin-bottom: 30px;
}
.text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 113px;
  
}

/* footer */
.footer{
  
  background-color: #fff8f3 ;
  padding-top: 130px;
  padding-bottom: 130px;
}

.contact h2{
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;

}
.contact p{
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  line-height: 28px;
}

.message h2{
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;

}
.foot{
  display:flex ;
  width: 71%;
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 200px;


}

.foot form input[type="text"]{
  width: 461px;
  height: 64px;
  color: #757575;
  background-color: #FFFFFF;
  border: none;
  padding: 18px 349px 18px 30px;
  border-radius: 5px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;


}
.foot form input[type="email"]{
   width: 461px;
  height: 64px;
  color: #757575;
  background-color: #FFFFFF;
  border: none;
  padding: 18px 349px 18px 30px;
  border-radius: 5px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}
.foot form textarea{
  
  height: 180px;
  width: 461px;
  color: #757575;
   background-color: #FFFFFF;
  border: none;
  padding: 18px 349px 18px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;

}
.foot form input[type="submit"]{
   height: 64px;
  width: 150px;
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  display: block;

}

